<section id="topbar" class="d-none d-lg-block">
  <div class="container d-flex">
    <div class="contact-info mr-auto">
     <ul>
          <li>
            <i class="icofont-envelope"></i><span><a href="mailto:uniondrugs@yahoo.com">uniondrugs@yahoo.com</a><br /><a
                href="mailto:contact@example.com">contact@uniondrugs.us</a></span></li>
          <li><i class="icofont-phone"></i> +1 980 320 1102</li>
          <li><i class="icofont-clock-time"></i> <span>Mon-Fri : 9am - 6pm<br />Sat : 9am to 1pm</span></li>
          <li><i class="icofont-building"></i><span>1546 Union Rd, Suite B<br />Gastonia, NC 28054</span></li>
        </ul>

    </div>
    <div class="cta">
      <a [routerLink]="['/covid-19/']" class="scrollto">COVID-19 Resources</a>
    </div>
  </div>
</section>

<header id="header">
  <div class="container d-flex">

    <div class="logo mr-auto">
      <!-- <h1 class="text-light"><a href="index.html"><span>Union Drugs</span></a></h1> -->
      <!-- Uncomment below if you prefer to use an image logo -->
      <a href="index.html"><img src="assets/img/logo.png" style="    margin-top: -85px;
        margin-left: -35px;
        max-height: 250px;" alt="" class="img-fluid"></a>
    </div>

    <nav class="nav-menu d-none d-lg-block">
      <ul>
        <li><a [routerLink]="['']">Home</a></li>
        <li><a [routerLink]="['/about-us']">About</a></li>
        <li><a [routerLink]="['/services']" >Services</a></li>
        <li><a [routerLink]="['/services']" >Reviews</a></li>
        <li><a [routerLink]="['/services']" >Specials</a></li>
        <li><a [routerLink]="['/blog']" >Blog</a></li>
        <li><a [routerLink]="['/contact-us']">Contact</a></li>
        <li class="rxDropDown drop-down"><a >Prescription</a>
          <ul>
            <li><a [routerLink]="['/prescription/transfer-rx']">Transfer</a></li>
            <li><a [routerLink]="['/prescription/refill-rx']">Refill</a></li>
            <li><a [routerLink]="['/prescription/autofill-rx']">Auto Fill</a></li>
          </ul>

        </li>
        <!-- <li><a href="#portfolio">Portfolio</a></li> -->
        <!-- <li><a href="#team">Team</a></li>
        <li><a href="#pricing">Pricing</a></li>
      
          <ul>
            <li><a href="#">Drop Down 1</a></li>
            <li class="drop-down"><a href="#">Drop Down 2</a>
              <ul>
                <li><a href="#">Deep Drop Down 1</a></li>
                <li><a href="#">Deep Drop Down 2</a></li>
                <li><a href="#">Deep Drop Down 3</a></li>
                <li><a href="#">Deep Drop Down 4</a></li>
                <li><a href="#">Deep Drop Down 5</a></li>
              </ul>
            </li>
            <li><a href="#">Drop Down 3</a></li>
            <li><a href="#">Drop Down 4</a></li>
            <li><a href="#">Drop Down 5</a></li>
          </ul> -->

      </ul>
    </nav><!-- .nav-menu -->

  </div>
</header><!-- End Header -->
